# Virtuele Omgeving van Python/uv
.venv/
venv/

# PyInstaller build-artefacten
build/
dist/

# Python cache bestanden
__pycache__/
*.pyc
*.pyo
*.pyd
data/
# Live applicatiedata
app/data/
config/settings_prod.py

# IDE / Editor specifieke bestanden
.vscode/
.idea/