{% extends 'layout.html' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
    <h1>{{ title }}</h1>
    
    <!-- Dynamische action URL voor aanmaken of bewerken van sjablonen -->
    <form method="post" class="ticket-form" action="{{ url_for('templates.templates_create') if not template else url_for('templates.templates_edit', template_id=template.id) }}">
        <div class="form-group">
            <label for="title">Titel van Sjabloon:</label>
            <input type="text" id="title" name="title" value="{{ template.title if template else '' }}" required>
        </div>
        <div class="form-group">
            <label for="content">Inhoud van Sjabloon:</label>
            <textarea id="content" name="content" rows="10" required>{{ template.content if template else '' }}</textarea>
        </div>
        <button type="submit" class="submit-button">Sjabloon Opslaan</button>
    </form>
{% endblock %}